/* Position du gros titre au centre */

.portfolio-heading {
    font-size: 40px;
    display: flex;
    justify-content: center;

}




/* Style de la div contenant toute les div sae*/

.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
    width: 70%;
    margin: 0 auto;

}


/* Div pour la couleur de fond des sae car sinon bug de stretch */

.project-card {
    background: rgb(0, 0, 0, 0.1);
    border-radius: 30px;
    backdrop-filter: blur(20px);
}


/* Style contenu des div sae */

.project-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 15px;
}

.project-content > p {
    text-align: center;
}

.project-card:hover {
    transform: scale(1.1);
}

.skills-tag {
    background-color: black;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.skills-tag:hover {
    background-color: #f5b0ea;
}
